<h1>Submit your enquiry:</h1>


<form action="/posts/<%= @post.id %>/comments" method="POST">
	<label>Enquire : </label><br>
	<textarea name="comment_body"></textarea><br><br>
	<input type="submit" value="Submit enquiry">
</form>
<br>
<br>