<h1>Submit your room for rent below:</h1>


<form action="/posts" method="POST">
	<label>Title of Room Posting Ad: </label><br>
	<input type="text" name="post_title"><br><br>
	<label>Room description: </label><br>
	<textarea name="post_body"></textarea><br><br>
	<input type="submit" value="Submit Posting Ad">
</form>
<br>
<br>